
<div class="p-4">
    <h3>ADD/UPDATE CAR</h3>
    <hr class="py-2">
    <form [formGroup]="carForm" class="row g-3">
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="plateNumber" formControlName="plateNumber" >
        </div>
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Model" formControlName="model" >
        </div>
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Color" formControlName="color" >
        </div>
        
        
        <div class="col-md-6">
       
        </div>
        <hr>
        <div class="col-12 justify-content-between d-flex">
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
            <button type="submit" *ngIf="data" (click)="addCar()" class="btn btn-success" [disabled]="carForm.invalid">Add Car</button>
            <!--<button type="submit" *ngIf="data" (click)="updateCar()" class="btn btn-success" [disabled]="carForm.invalid">Update Car</button>-->
        </div>
    </form>
</div>
