<div class="p-4">
    <h3>VIEW EMERGENCY</h3>
    <hr class="py-2">
    <form [formGroup]="EmergencyForm" class="row g-3">
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Description" formControlName="description" >
        </div>
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Location" formControlName="location" >
        </div>
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Type" formControlName="type" >
        </div>
        <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Status" formControlName="status" >
        </div>
        <div class="col-md-6">
        <input type="date" class="form-control" placeholder="Date" formControlName="date" >
        </div>
        <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Time" formControlName="time">
        </div>
        <div class="col-md-6">
        <input type="text" class="form-control" placeholder="licenseNumber" formControlName="licenseNumber">
        </div>
        <div class="col-md-6">
        <input type="text" class="form-control" placeholder="plateNumber" formControlName="plateNumber">
        </div>
        <div class="col-md-6">
        <!-- <select class="form-select" formControlName="carId">
            <option *ngFor="let car of cars" [value]="car.id">{{ car.plateNumber }}</option>
        </select> -->
        <!-- <mat-form-field appearance="outline">
            <mat-label>Vehicle</mat-label>
            <input type="text"
                placeholder="Vehicle"
                aria-label="Vehicle"
                matInput
                formControlName="carId"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
            @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option">{{option.plateNumber}}</mat-option>
            }
            </mat-autocomplete>
        </mat-form-field> -->

        </div>
        <hr>
        <div class="col-12 justify-content-between d-flex">
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
            <!--<button type="submit" *ngIf="!data" (click)="addDriver()" class="btn btn-success" [disabled]="driverForm.invalid">Add Driver</button>-->
            <button type="submit" *ngIf="data" (click)="updateEmergency()" class="btn btn-success" [disabled]="EmergencyForm.invalid">Update Driver</button>
        </div>
    </form>
</div>

